/* body
{
    overflow: hidden;
}
.div
{
    width: 90%;
    margin: 0 auto;
}

.div-1
{
    border: 1px solid red;
    background-color: red;
    height: 50%;
    transition-duration: 350ms;
}
.div-2
{   height: 50%;
    background-color: blue;
    border: 1px solid blue
}
button
{
    position: absolute;
    top:0;
    left: 0;
    background-color: green;
    border: 1px solid green;

} */